/* Basic formating for opening statement */

#js-male,
#js-female {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 50%;
    min-height: 100%;
    background-color: lightblue;
    transition: transform 0.5s ease-in;
}

#js-female {
    left: 50%;
    background-color: lightpink;
}

#js-male p,
#js-female p {
    margin: 35vh auto;
    color: #444;
    text-align: center;
}

.js-moveLeft {
    transform: translateX(-300%);
}

.js-moveRight {
    transform: translateX(300%);
}

/* Formatting for Overlay */

.overlay-bars {
    display: none;
}

.overlay-bars.active {
    display: block;
}

/* Formating For other stuff */

.list-view {
    margin: 0.1rem;
}

.info.t4 {
    color: #538fbe;
}

.page {
    background: linear-gradient(139deg, #2f98c8, #526269, #e3e5ee, #0a0a0b);
    background-size: 800% 800%;
    animation: animated 29s ease infinite;
}

@keyframes animated {
    0% {
        background-position: 0% 15%
    }
    50% {
        background-position: 100% 86%
    }
    100% {
        background-position: 0% 15%
    }
}

li p {
    color: black;
}

li span {
    color: red !important;
}

.card {
    border-radius: 4px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 1);
}
.card p {
    font-size: 0.8rem;
}

.card img{
    padding: 0;
}
.card h2, .card p{
    text-align: center;
}
.list-item {
    transform: scale(0.9);
    border: 1px solid #FFFFFF;
    border-radius: 20px 20px;
    background-color: ghostwhite;
    box-shadow: 0 3px 0.7px 1px #777777, 0 -7px rgba(0, 0, 0, 0.4) inset;
    background-image: linear-gradient(right, #111 11%, #333 56%);
    background-image: gradient(right, #111 11%, #333 56%);
}

.list-item p{
    padding-top: 1rem;
}

.bar {
    background-color: ghostwhite;
}

.list-item:last-child{
    margin-bottom: 3rem;
}